/* 

colors: 
 orange: #F7A338
 red: #e03315
 white: #fafcf8
 blue:  #018bad
 ofwhite: #fefefe




*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

body{
    margin: 0;
    background: #000910;
    color: #F7A338;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

span{
 margin-left: 15px;
}
hr{
    border: none;
    padding-bottom: 1px;
    margin-top: 10px;
    background: #f7a43881;
}

nav{
    width: 100%;
    background: #018bad;
    color: #fefefe;
    font-size: 50px;
    font-weight: 900;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    -webkit-text-stroke: 2px black;
    /* position: fixed; */
}
nav span{
    margin-left: 30px;
}

.shows-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .shows-list div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;



} */

.shows-list h1{
    color: #e03315;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}


.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
/* we stopped here */
.shows{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    overflow: hidden;

}

.card{
    width: 300px;
    height: 450px;
    position: relative;
    margin: 0%;
    padding: 0;
    overflow: hidden;
    border-radius: 3em;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.card:hover{
    scale: 1.02;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.card img{
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0%;
    padding: 0;
}

.card-content{
    opacity: 0;
    color: white;
    background-color: #000910c2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    font-weight: 100;
    padding:  0 18px;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.card-content p{
    width: 70%;
}
.card-content h2{
   font-size: 50px;
}
.card-content:hover{
    opacity: 1;
    transition: ease-in-out;
    transition-duration: 0.2s;
    cursor: pointer;
}

.band{
    background-color: #e0331590;
    padding: 10px;
    position: absolute;
    z-index: -18;
    width: 98.73%;
    height: 27%;
    top: 60%;
}
